 <!-- Carousel Start -->
 <div class="container-fluid p-0 pb-5">
    <div class="owl-carousel header-carousel position-relative">
        <!-- <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="assets/images/carousel-1.jpg" alt="">
            <div class="carousel-inner">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-8 text-center">
                            <h1 class="display-3 text-white animated slideInDown mb-4">Best CCTV & Security Solution For You</h1>
                            <p class="fs-5 text-white mb-4 pb-2">Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea elitr.</p>
                            <a href="" class="btn btn-primary rounded-pill py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a>
                            <a href="" class="btn btn-light rounded-pill py-md-3 px-md-5 animated slideInRight">Free Quote</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
         <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="assets/images/about2.jpg" alt="">
            <div class="carousel-inner">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-8 text-center">
                            <h1 class="display-3 text-white animated slideInDown mb-4">Smart Solution For Waste Management Systems</h1>
                            <p class="fs-5 text-white mb-4 pb-2">Breath of Fresh Air. We enable you to recover the world with awesome land with our team and clients.</p>
                            <a (click)="goto('IOT')"class="btn btn-primary rounded-pill py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a>
                            <a (click)="goto('contact')" class="btn btn-light rounded-pill py-md-3 px-md-5 animated slideInRight">Free Quote</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <!--  <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="assets/images/carousel-3.jpg" alt="">
            <div class="carousel-inner">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-8 text-center">
                            <h1 class="display-3 text-white animated slideInDown mb-4">Innovative Solution For Security System</h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-2">Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea elitr.</p>
                            <a href="" class="btn btn-primary rounded-pill py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a>
                            <a href="" class="btn btn-light rounded-pill py-md-3 px-md-5 animated slideInRight">Free Quote</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
<!-- Carousel End -->


<!-- Facts Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                <div class="h-100 bg-dark p-4 p-xl-5">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div class="btn-square rounded-circle" style="width: 64px; height: 64px; background: #000000;">
                            <img class="img-fluid" src="assets/images/icon/zero-waste.png" alt="Icon">
                        </div>
                        <h1 class="display-1 mb-0" style="color: #000000;">01</h1>
                    </div>
                    <h5 class="text-white">Door to Door Garbage Collection</h5>
                    <hr class="w-25">
                    <span>A garbage vehicle to collect and manage household waste in a area.</span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                <div class="h-100 bg-dark p-4 p-xl-5">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div class="btn-square rounded-circle" style="width: 64px; height: 64px; background: #000000;">
                            <img class="img-fluid" src="assets/images/icon/delivery-truck.png" alt="Icon">
                        </div>
                        <h1 class="display-1 mb-0" style="color: #000000;">02</h1>
                    </div>
                    <h5 class="text-white">Vehicle Tracking Using IoT</h5>
                    <hr class="w-25">
                    <span>Our Smart Waste Management Systems Using IoT can significantly streamline waste management processes easily and accurately.</span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                <div class="h-100 bg-dark p-4 p-xl-5">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div class="btn-square rounded-circle" style="width: 64px; height: 64px; background: #000000;">
                            <img class="img-fluid" src="assets/images/icon/icon-2.png" alt="Icon">
                        </div>
                        <h1 class="display-1 mb-0" style="color: #000000;">03</h1>
                    </div>
                    <h5 class="text-white">Customer Support</h5>
                    <hr class="w-25">
                    <span>We are ready to capture the citizens complaint and rectify the problem with our team.</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Facts Start -->


<!-- About Start -->
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container about px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-6 ps-lg-0" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100" src="assets/images/about4.jpg" style="object-fit: cover;" alt="">
                </div>
            </div>
            <div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-5 pe-lg-0">
                    <div class="bg-primary mb-3" style="width: 60px; height: 2px;"></div>
                    <h1 class="display-5 mb-4">About Us</h1>
                    <p class="mb-4 pb-2">TerraWaste Technologies (TWT), Established in 2006. We are expert in processes Solid waste management and Now we are proud to introduce Smart Vehicle Tracking and digitalization in SWMS</p>
                    <div class="row g-4 mb-4 pb-3">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                            <div class="d-flex align-items-center">
                                <div class="btn-square bg-white rounded-circle" style="width: 64px; height: 64px;">
                                    <img class="img-fluid" src="assets/images/icon/icon-1.png" alt="Icon">
                                </div>
                                <div class="ms-4">
                                    <h2 class="mb-1" data-toggle="counter-up">84</h2>
                                    <p class="fw-medium text-primary mb-0">Happy Clients</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                            <div class="d-flex align-items-center">
                                <div class="btn-square bg-white rounded-circle" style="width: 64px; height: 64px;">
                                    <img class="img-fluid" src="assets/images/icon/icon-5.png" alt="Icon">
                                </div>
                                <div class="ms-4">
                                    <h2 class="mb-1" data-toggle="counter-up">84</h2>
                                    <p class="fw-medium text-primary mb-0">Projects Done</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a (click)= "goto('about')" class="btn btn-primary rounded-pill py-3 px-5">Explore More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center">
            <div class="bg-primary mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
            <h1 class="display-5 mb-5">Our Services</h1>
        </div>
        <div class="row g-0 service-row">
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                <div class="service-item border h-100 p-5">
                    <div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px;">
                        <img class="img-fluid" src="assets/images/icon/zero-waste.png" alt="Icon">
                    </div>
                    <h4 class="mb-3">Garbage Collection</h4>
                    <p class="mb-4">A garbage vehicle to collect and manage household waste in a area.</p>
                    <a class="btn" (click)="goto('service')"><i class="fa fa-arrow-right text-white me-3"></i>Read More</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                <div class="service-item border h-100 p-5">
                    <div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px;">
                        <img class="img-fluid" src="assets/images/icon/icon-8.png" alt="Icon">
                    </div>
                    <h4 class="mb-3">Finger Print Attendance</h4>
                    <p class="mb-4">Attendance of Employee with location using digitalization.</p>
                    <a class="btn" (click)="goto('service')" ><i class="fa fa-arrow-right text-white me-3"></i>Read More</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                <div class="service-item border h-100 p-5">
                    <div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px;">
                        <img class="img-fluid" src="assets/images/icon/track.png" alt="Icon">
                    </div>
                    <h4 class="mb-3">Vehicle Tracking</h4>
                    <p class="mb-4">Citizens can track the garbage Vehicle before it reaches the residential home.</p>
                    <a class="btn" (click)="goto('IOT')"><i class="fa fa-arrow-right text-white me-3"></i>Read More</a>
                </div>
            </div>
            <!-- <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                <div class="service-item border h-100 p-5">
                    <div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px;">
                        <img class="img-fluid" src="assets/images/icon/icon-3.png" alt="Icon">
                    </div>
                    <h4 class="mb-3">Smart Home Security</h4>
                    <p class="mb-4">Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem</p>
                    <a class="btn" href=""><i class="fa fa-arrow-right text-white me-3"></i>Read More</a>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!-- Service End -->


<!-- Feature Start -->
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container feature px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-6 feature-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-5 ps-lg-0">
                    <div class="bg-primary mb-3" style="width: 60px; height: 2px;"></div>
                    <h1 class="display-5 mb-5">Why Choose Us</h1>
                    <p class="mb-4 pb-2">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo erat amet</p>
                    <div class="row g-4">
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <div class="btn-square bg-white rounded-circle" style="width: 64px; height: 64px;">
                                    <img class="img-fluid" src="assets/images/icon/mobile-app.png" alt="Icon">
                                </div>
                                <div class="ms-4">
                                    <p class="text-primary mb-2">Trusted</p>
                                    <h5 class="mb-0">App for SWMS</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <div class="btn-square bg-white rounded-circle" style="width: 64px; height: 64px;">
                                    <img class="img-fluid" src="assets/images/icon/clean.png" alt="Icon">
                                </div>
                                <div class="ms-4">
                                    <p class="text-primary mb-2">Quality</p>
                                    <h5 class="mb-0">Services</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <div class="btn-square bg-white rounded-circle" style="width: 64px; height: 64px;">
                                    <img class="img-fluid" src="assets/images/icon/delivery-truck.png" alt="Icon">
                                </div>
                                <div class="ms-4">
                                    <p class="text-primary mb-2">Smart SWM</p>
                                    <h5 class="mb-0">Systems</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <div class="btn-square bg-white rounded-circle" style="width: 64px; height: 64px;">
                                    <img class="img-fluid" src="assets/images/icon/icon-2.png" alt="Icon">
                                </div>
                                <div class="ms-4">
                                    <p class="text-primary mb-2">Customer</p>
                                    <h5 class="mb-0">Support</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pe-lg-0" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100" src="assets/images/feature1.jpg" style="object-fit: cover;" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->


<!-- Projects Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <div class="bg-primary mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
            <h1 class="display-5 mb-5">Our Projects</h1>
        </div>
        <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.3s">
            <div class="col-12 text-center">
                <ul class="list-inline mb-5" id="portfolio-flters">
                    <li class="mx-2 active" data-filter="*">Some of our Project</li>
                    <!-- <li class="mx-2" data-filter=".first">Complete Projects</li>
                    <li class="mx-2" data-filter=".second">Ongoing Projects</li> -->
                </ul>
            </div>
        </div>
        <div class="row g-4 portfolio-container">
            <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                <div class="portfolio-inner">
                    <img class="img-fluid w-100" src="assets/images/portfolio-1.jpg" alt="">
                    <div class="text-center p-4">
                        <p class="text-primary mb-2">Rejuvenation of lake, Karnataka</p>
                        <h5 class="lh-base mb-0">We hands with Mysore administration to rejuvenate the lake and restore its past glory</h5>
                    </div>
                    <div class="portfolio-text text-center bg-white p-4">
                        <p class="text-primary mb-2">Rejuvenation of lake, Karnataka</p>
                        <h5 class="lh-base mb-3">We hands with Mysore administration to rejuvenate the lake and restore its past glory</h5>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href="assets/images/portfolio-1.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            <!-- <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fa fa-link"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.3s">
                <div class="portfolio-inner">
                    <img class="img-fluid w-100" src="assets/images/portfolio-2.jpg" alt="">
                    <div class="text-center p-4">
                        <p class="text-primary mb-2">Construction of Sewage Treatment Plant, Haryana</p>
                        <h5 class="lh-base mb-0">Solid waste management & Construction of Sewage Treatment Plant</h5>
                    </div>
                    <div class="portfolio-text text-center bg-white p-4">
                        <p class="text-primary mb-2">Construction of Sewage Treatment Plant</p>
                        <h5 class="lh-base mb-3">Solid waste management & Construction of Sewage Treatment Plant</h5>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href="assets/images/portfolio-2.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            <!-- <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fa fa-link"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.5s">
                <div class="portfolio-inner">
                    <img class="img-fluid w-100" src="assets/images/portfolio-3.jpg" alt="">
                    <div class="text-center p-4">
                        <p class="text-primary mb-2">Waste Management Program, Rajasthan</p>
                        <h5 class="lh-base mb-0">Door to door waste collection, cleaning of roads/ lanes, segregation of waste, composting from wet waste and awareness generation.</h5>
                    </div>
                    <div class="portfolio-text text-center bg-white p-4">
                        <p class="text-primary mb-2">Waste Management Program, Rajasthan</p>
                        <h5 class="lh-base mb-3">Door to door waste collection, cleaning of roads/ lanes, segregation of waste, composting from wet waste and awareness generation.</h5>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href="assets/images/portfolio-3.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            <!-- <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fa fa-link"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.1s">
                <div class="portfolio-inner">
                    <img class="img-fluid w-100" src="assets/images/portfolio-4.jpg" alt="">
                    <div class="text-center p-4">
                        <p class="text-primary mb-2">Zero Waste Initiative, Maharastra</p>
                        <h5 class="lh-base mb-0">With the support of the local municipal corporation, replicated a successful model of Zero Waste ward at different wards</h5>
                    </div>
                    <div class="portfolio-text text-center bg-white p-4">
                        <p class="text-primary mb-2">Zero Waste Initiative, Maharastra</p>
                        <h5 class="lh-base mb-3">With the support of the local municipal corporation, replicated a successful model of Zero Waste ward at different wards</h5>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href="assets/images/portfolio-4.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            <!-- <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fa fa-link"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.3s">
                <div class="portfolio-inner">
                    <img class="img-fluid w-100" src="assets/images/portfolio-5.jpg" alt="">
                    <div class="text-center p-4">
                        <p class="text-primary mb-2">Integrated Solid waste Management Project, JMC</p>
                        <h5 class="lh-base mb-0">Integrated Solid waste Management Project, by NAFED (National Agricultural Co operative Marketing Federation of India)</h5>
                    </div>
                    <div class="portfolio-text text-center bg-white p-4">
                        <p class="text-primary mb-2">Integrated Solid waste Management Project, JMC</p>
                        <h5 class="lh-base mb-3">Integrated Solid waste MAnagement Project, by NAFED( National Agricultural Co operative Marketing Federation of India)</h5>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href="assets/images/portfolio-5.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            <!-- <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fa fa-link"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.5s">
                <div class="portfolio-inner">
                    <img class="img-fluid w-100" src="assets/images/portfolio-6.jpg" alt="">
                    <div class="text-center p-4">
                        <p class="text-primary mb-2">Compost & RDF Plant, Sheety Atmakur </p>
                        <h5 class="lh-base mb-0">Composting for organic waste with dry waste RDF bailing along with recyclables recovery process.</h5>
                    </div>
                    <div class="portfolio-text text-center bg-white p-4">
                        <p class="text-primary mb-2">Compost & RDF Plant, Sheety Atmakur</p>
                        <h5 class="lh-base mb-3">
                            Composting for organic waste with dry waste RDF bailing along with recyclables recovery process.</h5>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href="assets/images/portfolio-6.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            <!-- <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fa fa-link"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Projects End -->

<!-- Donation Start -->
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-12">
<div class="container quote px-lg-0 ">
    <div class="row g-0 mx-lg-0">
        
        <div class="col-lg-12 quote-text py-5 wow fadeIn" data-wow-delay="0.5s">
            <div class="p-lg-5 pe-lg-0">
                <div class="bg-primary mb-3" style="width: 60px; height: 2px;"></div>
                <h1 class="display-5 mb-5">Accepting donations</h1>
                <p class="mb-4 pb-2">Help support your business, city, country or community to become a better and more accessible place.</p>
                <div class="col-2">
                    <button class="btn btn-primary w-300 py-3 nowrap" type="submit">Donate to Accessibilty</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Donation End -->
<!-- Quote Start -->
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container quote px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-6 ps-lg-0" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100" src="assets/images/quote.jpg" style="object-fit: cover;" alt="">
                </div>
            </div>
            <div class="col-lg-6 quote-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-5 pe-lg-0">
                    <div class="bg-primary mb-3" style="width: 60px; height: 2px;"></div>
                    <h1 class="display-5 mb-5">Free Quote</h1>
                    <p class="mb-4 pb-2">Submit your contact info to get in touch with our Customer Experience Team</p>
                    <form>
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control border-0" placeholder="Your Name" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="email" class="form-control border-0" placeholder="Your Email" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control border-0" placeholder="Your Mobile" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <select class="form-select border-0" style="height: 55px;">
                                    <option selected>Select A Service</option>
                                    <option value="1">General</option>
                                    <option value="2">Business</option>
                                    <option value="3">Customer Support</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <textarea class="form-control border-0" placeholder="Special Note"></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Get A Free Quote</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Quote End -->


<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <div class="bg-primary mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
            <h1 class="display-5 mb-5">Team Members</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item">
                    <div class="overflow-hidden position-relative">
                        <img class="img-fluid" src="assets/images/team-1.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-square btn-dark rounded-circle m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-dark rounded-circle m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-dark rounded-circle m-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Full Name</h5>
                        <span class="text-primary">Designation</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item">
                    <div class="overflow-hidden position-relative">
                        <img class="img-fluid" src="assets/images/woman.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-square btn-dark rounded-circle m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-dark rounded-circle m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-dark rounded-circle m-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Full Name</h5>
                        <span class="text-primary">Designation</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item">
                    <div class="overflow-hidden position-relative">
                        <img class="img-fluid" src="assets/images/team-1.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-square btn-dark rounded-circle m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-dark rounded-circle m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-dark rounded-circle m-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Full Name</h5>
                        <span class="text-primary">Designation</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item">
                    <div class="overflow-hidden position-relative">
                        <img class="img-fluid" src="assets/images/team-1.jpg" alt="">
                        <div class="team-social">
                            <a class="btn btn-square btn-dark rounded-circle m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-dark rounded-circle m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-dark rounded-circle m-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Full Name</h5>
                        <span class="text-primary">Designation</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->


<!-- Testimonial Start -->
<!-- <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <div class="bg-primary mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
            <h1 class="display-5 mb-5">Testimonial</h1>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            <div class="testimonial-item text-center" data-dot="<img class='img-fluid' src='assets/images/testimonial-1.jpg' alt=''>">
                <p class="fs-5">Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed. Magna ut diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at rebum justo sea clita.</p>
                <h4>Client Name</h4>
                <span class="text-primary">Profession</span>
            </div>
            <div class="testimonial-item text-center" data-dot="<img class='img-fluid' src='assets/images/testimonial-2.jpg' alt=''>">
                <p class="fs-5">Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed. Magna ut diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at rebum justo sea clita.</p>
                <h4>Client Name</h4>
                <span class="text-primary">Profession</span>
            </div>
            <div class="testimonial-item text-center" data-dot="<img class='img-fluid' src='assets/images/testimonial-3.jpg' alt=''>">
                <p class="fs-5">Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed. Magna ut diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at rebum justo sea clita.</p>
                <h4>Client Name</h4>
                <span class="text-primary">Profession</span>
            </div>
        </div>
    </div>
</div> -->
<!-- Testimonial End -->
<app-scroll-top></app-scroll-top>
