<div class="container-fluid bg-light overflow-hidden my-5 px-lg-12">
    <div class="container quote px-lg-0 ">

        <div class="row g-0 mx-lg-0">
            <div class="text-center">
                <div class="bg-primary mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
                <h1 class="display-5 mb-5">Biogas (Anaerobic Digestion)</h1>
            </div>

            <div class="col para-sorting">
                <ul>

                    <li> Anaerobic digestion is a collection of processes by which micro-organism break down biodegradable
                        material in the absence of oxygen. The process is used for industrial or domestic purposes to manage
                        waste or to produce fuels. Much of the fermentation is used industrially to produce food and drink
                        products, as well as home fermentation, uses anaerobic digestion. Anaerobic digestion occurs
                        naturally in some soils and in lake and oceanic basin sediments, where it is usually referred to as
                        "anaerobic activity”.</li>
                  
                  
                </ul>
            </div>
            <div class="col">
                <img src="assets/images/biogas.jpg" class="geoimage">
            </div>
            
        </div>
        <div class="col para-sorting">
            <ul>

               
                <li> The digestion process begins with bacterial hydrolysis of the input materials. Insoluble organic
                    polymers, such as carbohydrates, are broken down to soluble derivatives that become available for
                    other bacteria. Acidogenic bacteria then convert the sugars and amino acids into carbon dioxide,
                    hydrogen, ammonia and organic acids. These bacteria convert these resulting organic acids into
                    acetic acid, along with additional ammonia, hydrogen, and carbon dioxide. Finally, methanogens
                    convert these products to methane and carbon dioxide. The methanogenic archaea populations
                    play an indispensable role in anaerobic wastewater treatments. </li>
                <li> Anaerobic digestion is used as part of the process to treat biodegradable waste and sewage sludge.
                    As part of an integrated waste management system, anaerobic digestion reduces the emission of
                    landfill gas into the atmosphere. Anaerobic digesters can also be fed with purpose-grown energy
                    crops, such as maize. Anaerobic digestion is widely used as a source of renewable energy. The
                    process produces a biogas, consisting of methane, carbon dioxide, and traces of other contaminant
                    gases. This biogas can be used directly as fuel, in combined heat and power gas engines or
                    upgraded to natural gas-quality biomethane. The nutrient-rich digestate also produced can be used
                    asfertilizer</li>
              
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid bg-light overflow-hidden my-5 px-lg-12">
    <div class="container quote px-lg-0 ">
        <div class="row g-0 mx-lg-0">
            <div class="text-center">
                <div class="bg-primary mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
                <h1 class="display-5 mb-5">Biogas Technology</h1>
            </div>
            <div class="col para-sorting">
                <ul>
                    <li>Dosing system</li> 
                    <li>CSTR tank and equipment</li> 
                    <li>Set of dehumidifier (chiller) and blowers</li> 
                    <li> Biogas flare</li> 
                    <li> Effluent separation</li> 
                    <li> Piping & wiring</li> 
                    <li> Activated Carbon filter</li> 
                    <li> High pressure blower</li> 
                    <li> CHP container and installation</li> 
                         <li> Genenerator set</li>                 
                  
                </ul>
            </div>
            <!-- <div class="col">
                <img src="assets/images/fertilize.png" class="geoimage">
            </div>             -->
        </div>      
    </div>
</div>
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-12">
    <div class="container quote px-lg-0 ">

        <div class="row g-0 mx-lg-0">
            <div class="text-center">
                <div class="bg-primary mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
                <h1 class="display-5 mb-5">Electricity Production</h1>
            </div>

            <div class="col para-sorting">
                <ul>

                    <li>Power Plant; Steam Turbine and Generator</li>
                    
        <li>Biogas Plant; Gas engine and Generator</li>
                  
                </ul>
            </div>
            <div class="col generator">
                <img src="assets/images/generator.png">
            </div>
            
        </div>
    </div>
</div>
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-12">
    <div class="container quote px-lg-0 ">
        <div class="row g-0 mx-lg-0">
            <div class="text-center">
                <div class="bg-primary mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
                <h1 class="display-5 mb-5">Comissioning and Warranties</h1>
            </div>
            <div class="col para-sorting">
                <ul>
                    <li>Construction time 18 – 24 months depending of the size of the plant</li> 
                    <li>Turn Key Delivery</li>
                    <li> Education during the comissioning</li>
                        <li> Test run period</li>
                            <li>2 years warranty</li>
                                <li> 100% CAR insurance during the construction period</li>
                                    <li> Guarantee values according technical specification  </li>           
                  
                </ul>
            </div>
            <!-- <div class="col">
                <img src="assets/images/fertilize.png" class="geoimage">
            </div>             -->
        </div>      
    </div>
</div>
<app-scroll-top></app-scroll-top>