
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-12">
    <div class="container quote px-lg-0 ">

        <div class="row g-0 mx-lg-0">
            <div class="text-center">
                <div class="bg-primary mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
                <h1 class="display-5 mb-5">Waste Sorting</h1>
            </div>

            <div class="col">
                <ul>

                    <li> Domestic waste hydraulic brake equalizer</li>
                    <li> Domestic waste crusher</li>
                    <li> Impurities separator</li>
                    <li> Multi-function box sorter</li>
                    <li> Crusher</li>
                    <li> Organic matter refining separator</li>
                    <li> Two-stage impurity separator</li>
                    <li> Magnetic separator</li>
                    <li> Mechanical transmission devices</li>
                    <li> RDF Bunker</li>
                    <li> Siemens logic controlling </li>
                </ul>
            </div>
            <div class="col">
                <img src="assets/images/sorting.png" class="geoimage">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-12">
    <div class="container quote px-lg-0 ">

        <div class="row g-0 mx-lg-0">
            <div class="text-center">
                <div class="bg-primary mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
                <h1 class="display-5 mb-5">Household Waste</h1>
            </div>

            <div class="col para-sorting">
                The most publicized concerns from environmentalists about the
                incineration of municipal solid wastes (MSW) involve the fear that it
                produces significant amounts of dioxin and furan emissions. Dioxins and
                furans are considered by many to be serious health hazards. It has been
                calculated, that the combustion percentages of the total dioxin and
                furan inventory from all known and estimated sources for each type of
                incineration are as follows: 35.1 % backyard barrels; 26.6 % medical
                waste; 6.3 % municipal wastewater treatment sludge; 5.9 % municipal
                waste combustion; 2.9 % industrial wood combustion. Backyard barrel
                burning of household and garden wastes, still allowed in some rural
                areas, from just one family using a burn barrel produced more emissions
                than an incineration plant disposing of 200 tons of waste per day by
                1997 and five times that by 2007 due to increased chemicals in
                household trash and decreased emissions by municipal incinerators
                using better technology.
            </div>

        </div>
    </div>
</div>
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-12">
    <div class="container quote px-lg-0 ">

        <div class="row g-0 mx-lg-0">
            <div class="text-center">
                <div class="bg-primary mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
                <h1 class="display-5 mb-5">Content of the Waste to Energy Plant</h1>
            </div>

            <div class="col">
                <ul>

                    <li> Waste Sorting Line by 100% circulation of the Household Waste.</li>
                    <li>BFB Power Plant, with high 8 500 annual hours availability and 90% efficiency</li>
                    <li> Biogasification, (Dry Anaerobic digestion) with 8 300 annual running hours</li>
                    <li> Fertilizing Line, with dry granulated and packed fertilizers 50% of the organic amount</li>
                    <li>Buildings (Sorting station, Power Plant, Fertilizing production)</li>
</ul>
        </div>
    </div>
</div>
<app-scroll-top></app-scroll-top>