<div class="container-fluid bg-light overflow-hidden my-5 px-lg-12">
    <div class="container quote px-lg-0 ">
        <div class="row g-0 mx-lg-0">
            <div class="text-center">
                <div class="bg-primary mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
                <h1 class="display-5 mb-5">Fertilizing Line</h1>
            </div>
            <div class="col para-sorting">
                <ul>
                    <li>Double-screw Compost Turning Machine, Forklift Loading Bin</li>
                  <li>Belt Conveyors, Vertical Blade Crusher, Drum Screening Machine
                    with Beat Device</li>                 
                  
                </ul>
            </div>
            <!-- <div class="col">
                <img src="assets/images/fertilize.png" class="geoimage">
            </div>             -->
        </div>
        <div class="col para-sorting">
            <ul>
                <li>Double-screw Compost Turning Machine, Forklift Loading Bin</li>
              <li>Belt Conveyors, Vertical Blade Crusher, Drum Screening Machine
                with Beat Device</li>
                <li>Forklift Loading Bin, Double Shaft Mixer, Uniform Feeder</li>
                <li>Combine Organic Fertilizer Granulator, Dryer, Cooler</li>
                <li>Primary Screening with Stainless Steel Screener, Secondary
                    Screening with StainlessSteel Screener</li>
                <li>Finished Hopper for Packing, Packing Machine, Air Compressor,
                    Chain crusher</li>
                <li>Drying Machine Fan, Cooling Machine Fan, Electric box with
                    Siemens PL</li>
              
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-12">
    <div class="container quote px-lg-0 ">
        <div class="row g-0 mx-lg-0">
            <div class="text-center">
                <div class="bg-primary mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
                <h1 class="display-5 mb-5">Emissions</h1>
            </div>
            <div class="col para-sorting">
                <ul>
                    <li>Height of the boiler guarantees the EU-standard residence time (2 sec @ 850 °C) for the flue
                        gas. On our case 2,5 sec, which is required to fully burn out the highly toxic elements; furans
                        and dioxins, in the flue gas. Simultaneously, this radiation channel cools down the flue gas
                        temperature to protect the waste heat recovery boiler from temperature corrosion.</li>                 
                  
                </ul>
            </div>
            <!-- <div class="col">
                <img src="assets/images/emission.png" class="geoimage">
            </div>             -->
        </div>       
    </div>
</div>
<app-scroll-top></app-scroll-top>
